<tr class='<%= game.user_interest(current_user).classname %>' id='game-<%= game.id %>' >
  <td class='thumbnail'><img data-bggid='<%= game.bgg_id %>'/></td>
  <td class='game'><%= game.bgg_link.present? ? link_to(game.name, game.bgg_link) : game.name %></td>
  <td class='players'><%= game.player_range %></td>
  <td class='length'><%= (game.duration_secs || 0) / 60 %></td>
  <td class='interested'><%= game.interests.size %></td>
  <td class='teachers'><%= game.interests.count(&:can_teach)%></td>
  <td class='added' sorttable_customkey='<%= game.updated_at %>'><%= game.updated_at.to_s(:short_date)%></td>
  <td class='me' sorttable_customkey="<%= game.user_interest(current_user).sort_key %>">
    <%# = render partial: 'my_interests', locals: {game: game} %>
    <div class="interest">
      <% if (my_interest = game.user_interest(current_user)).present? %>
        <%= form_with model: my_interest, method: :delete, remote: true do |form| %>
          <%= hidden_field_tag 'interest[game_id]', game.id %>
          <%= hidden_field_tag 'interest[user_id]', current_user.id %>
          <%= button_tag do %>
            <span>I want to play</span>
            <%= svg_icon('checkbox-checked') %>
          <% end %>
        <% end %>

        <%= form_with model: my_interest, method: :put, remote: true do |form| %>
          <%= hidden_field_tag 'interest[game_id]', game.id %>
          <%= hidden_field_tag 'interest[user_id]', current_user.id %>
          <%= hidden_field_tag 'interest[can_teach]', !my_interest.can_teach %>
          <%= button_tag do %>
            <span>I know the rules</span>
            <%= svg_icon("checkbox-#{my_interest.can_teach ? '' : 'un'}checked") %>
          <% end %>
        <% end %>

      <% else %>
        <%= form_with url: interests_path, remote: true do |form| %>
          <%= hidden_field_tag 'interest[game_id]', game.id %>
          <%= hidden_field_tag 'interest[user_id]', current_user.id %>
          <%= button_tag do %>
            <span>I want to play</span>
            <%= svg_icon('checkbox-unchecked') %>
          <% end %>
        <% end %>
        <%= button_tag(disabled: true) do %>
          <span>I know the rules</span>
          <%= svg_icon("checkbox-unchecked") %>
        <% end %>
      <% end %>
    </div>
  </td>
  <td class='tools'>
    <%#= render partial: 'game_tools', locals: {game: game} %>
    <%= button_to({controller: :games, action: :edit, id: game.id}, method: :get){ "Edit" } %>
    <%= form_with class: 'button_to', url: shared_interests_path, method: :get, local: true do |form| %>
      <%= form.hidden_field :game_id, value: game.id %>
      <%= form.button "Who Else?" %>
    <%end%>
  </td>
  <td class='notes'>
    <%#= render partial: 'my_notes', locals: {game: game} %>
    <% if (my_interest = game.interests.find{|i| i.user_id == current_user.id}).present? %>
      <% if my_interest.notes.present? %>
        <%= my_interest.notes %>
        <%= link_to(edit_interest_path(my_interest.id), method: :get) do %>
          <%= svg_icon("pencil") %>
        <% end %>
      <% else %>
        <%= button_to(edit_interest_path(my_interest.id), method: :get){ "Add Notes" } %>
      <% end %>
    <% else %>
      <%= button_to('#', disabled: true){ "Add Notes" } %>
    <% end %>
  </td>
</tr>
