<h1><%= @event.name %></h1>
<h2 class='item date'><%= @event.date %></h2>
<h3 class='item location'>at <%= @event.where %></h3>

<% if @event.description.present? %>
  <div class='description'>
    <%= @markdown.render(@event.description).html_safe %>
  </div>
<% end %>

<div class="controls">
  <%= button_to(edit_event_path(@event), method: :get) { "Edit" } %>
  <%= button_to(new_game_path, method: :get, params: {event_id: @event.id}){'Add a Game'} %>
  <%= form_with url: new_suggestion_path, class: 'button_to', scope: :suggestion, method: :get, local: true do |form| %>
    <%= form.hidden_field :event_id, value: @event.id %>
    <%= form.button "What Should We Play?!" %>
  <%end%>
</div>

<table class='sortable' sorttable_persist_as='events' sorttable_default_sort='players-false'>
  <thead>
    <tr>
      <th class='thumbnail sorttable_nosort'>&nbsp;</th>
      <th class='game'>Game</th>
      <th class='players' title="Number of players"><%= svg_icon('users') %></th>
      <th class='length' title="Game length"><%= svg_icon('hour-glass') %></th>
      <th class='interested' title="Number of interested players"><%= svg_icon('thumbs-o-up') %></th>
      <th class='teachers' title="Number of available teachers"><%= svg_icon('graduation-cap') %></th>
      <th class='added'>Added</th>
      <th class='me'>My Interest</th>
      <th class='tools sorttable_nosort' title="Tools"><%= svg_icon('cog') %></th>
      <th class='notes sorttable_nosort'>My Notes</th>
      <td class='pitch'></th>
    </tr>
  <thead>
  <tbody>
    <%= render partial: "game_row", collection: @games, as: :game %>
  </tbody>
</table>
