<dl class='event-data'>
  <dt>Name:</dt>
  <dd><%= @event.name %></dd>
  <dt>Date:</dt>
  <dd><%= @event.date %></dd>
  <dt>Where:</dt>
  <dd><%= @event.where %></dd>
</dl>

<div class="controls">
  <%= button_to 'Edit', edit_event_path(@event), action: :get %>
  <%= button_to 'Add a Game', new_game_path(event_id: @event.id), action: :get %>
</div>

<table>
  <tr>
    <th class='thumbnail'>&nbsp;</th>
    <th class='game'>Game</th>
    <th class='players'>Players</th>
    <th class='length'>Length</th>
    <th class='interested'># Interested</th>
    <th class='me'>My Interest</th>
    <th class='tools'>Tools</th>
    <th class='notes'>My Notes</th>
  </tr>
  <% @event.games.each do |game| %>
    <tr data-bggid=<%= game.bgg_id %>>
      <td class='thumbnail'>&nbsp;</th>
      <td class='game'><%= game.bgg_link.present? ? link_to(game.name, game.bgg_link) : game.name %></td>
      <td class='players'><%= game.player_range %></td>
      <td class='length'><%= (game.duration_secs || 0) / 60 %></td>
      <td class='interested'><%= game.interests.size %></td>
      <td class='me'><%= render partial: 'my_interests', locals: {game: game} %></td>
      <td class='tools'><%= button_to "Edit Game", {controller: :games, action: :edit, id: game.id}, method: :get %></td>
      <td class='notes'><%= render partial: 'my_notes', locals: {game: game} %></td>
    </tr>
  <% end %>
</table>
