<tr id='game-<%= game.id %>' >
  <td class='thumbnail'><img data-bggid='<%= game.bgg_id %>' /></td>
  <td class='game'><%= game.bgg_link.present? ? link_to(game.name, game.bgg_link) : game.name %></td>
  <td class='players' sorttable_customkey='<%= game.min_players %>'><%= game.player_range %></td>
  <td class='length'><%= (game.duration_secs || 0) / 60 %></td>
  <td class='interest_level'><%= game.interest_level %></td>
  <td class='teachers'><%= game.teachers %></td>
  <td class='shared'>
    <%= form_with class: 'button_to', url: shared_interests_path, method: :get, local: true do |form| %>
      <%= form.hidden_field :game_id, value: game.id %>
      <%= form.submit "Who else?" %>
    <%end%>
  </td>
</tr>
