<div class="nav">
  <%= image_tag "wagthepig-med.png" %>
  <ul>
    <% if current_user && current_user.incomplete? %>
      <li><%= link_to "Your profile is incomplete! Add your name!", edit_user_registration_path, method: :get, class: :urgent %></li>
    <%end%>
    <li><%= button_to "Profile", edit_user_registration_path, method: :get %></li>
    <li><%= button_to "Events", events_path, method: :get %></li>
    <li><%= button_to "Sign Out", destroy_user_session_path, method: :delete %></li>
  </ul>
</div>
