<div class="nav">
  <%= image_tag "wagthepig-med.png" %>
  <ul>
    <% if current_user && current_user.incomplete? %>
      <li><%= link_to "Your profile is incomplete! Add your name!", edit_user_registration_path, method: :get, class: :urgent %></li>
    <%end%>
    <li><%= button_to(edit_user_registration_path, method: :get){ "Profile" } %></li>
    <li><%= button_to(events_path, method: :get){ "Events" } %></li>
    <li><%= button_to(destroy_user_session_path, method: :delete){ "Sign Out"} %></li>
  </ul>
</div>
