<!DOCTYPE html>
<html>
  <head>
    <title>Wag The Pig</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= render 'layouts/favicon' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class='<%= @controller.present? ? "ctrl-#{@controller.gsub(%r[/], "_")}" : "" %> <%= @action.present? ? "actn-#@action" : "" %>'>
    <%= render 'layouts/nav' %>
    <%= render 'layouts/flash' %>
    <%= yield %>
    <%= render 'layouts/footer' %>
  </body>
</html>
